---
title: Official Richard Sherman Website
---

{% include head-index.html %}

	<body data-spy="scroll" data-target=".navbar">

		<!-- Top Page Fullwidth Container -->
		<div class="fullwidth">
			{% include navbar.html %}

			{% include slider.html %} {% include mobile-banner.html %}

			{% include store.html %}

			{% include media.html %}

			{% include blog-index.html %}

			{% include stats.html %}

			{% include newsletter.html %}

			{% include news-index.html %}















		<!-- Foundation Section -->
<aside id="foundation" class="aside-block">
	<div class="container title">
		<div class="span12 pagination-centered">
			<h1 id="m_title" class="section-title text-center" >FOUNDATION</h1>
			<h3 class="mod_blank"> Blanket Coverage </h3>
		</div>
	</div>
	<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>
	<div class="container">
		<div class="row">
			<div class="span12 hidden-phone hidden-desktop">
				<iframe class="text-center" width="560" height="315" src="//www.youtube.com/embed/xcoCQZ_ct9s" frameborder="0" allowfullscreen></iframe><br/>
				<h4 class="text-center">Richard Sherman Blanket Coverage "Holiday Give Back"</h4><br>				
			</div>
		</div>	

		<div class="row">
			<div class="span12 hidden-phone hidden-desktop">
				<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/common_investor.jpg">
				<p class="pad-5">Richard Sherman and the Blanket Coverage team would like to give a special thanks to Dave Meyers with <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a> Through Common Man Investor’s stock tips, the Blanket Coverage team has been able to more than double the foundation’s stock portfolio in just the past 6 months. Dave has provided a great way for Blanket Coverage to continue to raise proceeds for future Blanket Coverage events! Check them out at <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a></p>				
			</div>	
		</div>
		<div class="row">
			<div class="span6 hidden-phone hidden-tablet">
				<iframe class="text-center" width="560" height="315" src="//www.youtube.com/embed/xcoCQZ_ct9s" frameborder="0" allowfullscreen></iframe><br/>
				<h4 class="text-center">Richard Sherman Blanket Coverage "Holiday Give Back"</h4><br>				
			</div>

			<div class="span6 hidden-tablet">
				<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/common_investor.jpg">
				<p class="pad-5">Richard Sherman and the Blanket Coverage team would like to give a special thanks to Dave Meyers with <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a> Through Common Man Investor’s stock tips, the Blanket Coverage team has been able to more than double the foundation’s stock portfolio in just the past 6 months. Dave has provided a great way for Blanket Coverage to continue to raise proceeds for future Blanket Coverage events! Check them out at <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a></p>				
			</div>		
		</div>
	</div>
</aside>

		<!--College Picture Section-->
		<section id="college">
			<div class="pic2">
				<div class="container">
					<div class="aside-content">
						<div class="container">
							<div class="row marg">
								<h1 class="section-title-white text-center">College</h1>
							</div>	
							<div class="row">
								<p class="sub-title text-center white">Stanford Cardinal</p>
							</div>
			<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>
							<div class="college-info">
								<div class="row">
									<div class="college-text">
										<div class="span3 sub-title white">
											<p>California Born & Raised</p>
										</div>
										<div class="span3 subtitle-1 ">
											<ul>
												<li>6'3" - 195 POUNDS</li>
												<li>32" LONG ARMS</li>
												<li>38" VERTICAL LEAP</li>
												<li>4.65 SECOND 40 YARD</li>
											</ul>
										</div>
									</div>
									<div class="span6 pull-right">
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/rscollege.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	

		<section id="social" class="section-block hidden-phone">
			<h1 class="section-title text-center">Social</h1>
			<br />
			<div class="container">
				<div class="row">
					<div class="span3 offset2">
						<a class="socialIcons" href="https://www.facebook.com/RichardShermanFanPage" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/facebook-128.png" alt="facebook"></a>
					</div>
					<div class="span3">
						<a class="socialIcons" href="https://twitter.com/RSherman_25" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/twitter-128.png" alt="twitter"></a>
					</div>
					<div class="span3">
						<a class="socialIcons" href="https://instagram.com/rsherman25" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/instagram-128.png" alt="instagram"></a>
					</div>								
				</div>
				<br>
				<div class="row hidden-tablet">
					<div class="span4">
						<h8 class="soc-font">/RICHARDSHERMANFANPAGE</h8><br>
						<a href="https://www.facebook.com/RichardShermanFanPage" target="_blank"><p class="soc-font4">FACEBOOK</p></a>
					</div>
					<div class="span4">
						<h8 class="soc-font2">@RSHERMAN_25</h8><br>
						<a href="https://twitter.com/RSherman_25" target="_blank"><p class="soc-font5">TWITTER</p></a>							
					</div>
					<div class="span4">
						<h8 class="soc-font3">@RSHERMAN25</h8>
							<a href="https://instagram.com/rsherman25" target="_blank"><p class="soc-font6">INSTAGRAM</p></a>							
					</div>												
				</div>		
			</div>
		</section>

		{% include footer.html %}
	<!-- End Page Content -->

	<!-- Javascript -->
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery-1.9.1.min.js"></script>
    <script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.colorbox-min.js"></script>	
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/bootstrap.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.plugins.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.parallax.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.js"></script>
	

	<!-- Plugins -->
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/fitvids/jquery.fitvids.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/quovolver/jquery.quovolver.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.prettyPhoto.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/contactform/jquery.form.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/contactform/jquery.validate.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/cycle2/jquery.cycle2.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/cycle2/jquery.cycle2.swipe.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>


<!--Colorbox-->
<script>
	$(document).ready(function(){
		$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
	});
</script>
    


<!-- Img Resize for News -->
<script>
	$(document).ready(function(){
		$('.newsimg').height("200");
		$('.newsimg').width("300");
		$('.news p').height("200");
	});
</script>
<!--End Script-->

<script type="text/javascript" >
$(document).ready(function()
{
$(".account").click(function()
{
var X=$(this).attr('id');

if(X==1)
{
$(".submenu").hide();
$(this).attr('id', '0');	
}
else
{

$(".submenu").show();
$(this).attr('id', '1');
}
	
});

//Mouseup textarea false
$(".submenu").mouseup(function()
{
return false
});
$(".account").mouseup(function()
{
return false
});


//Textarea without editing.
$(document).mouseup(function()
{
$(".submenu").hide();
$(".account").attr('id', '');
});
	
});
	
	</script>

<script type="text/javascript">

	$('.scroolhide a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    if ($('.btn').is(":visible"))
     $('.btn').click();
   });

 </script>	
</body>

</html>