---
title: Official Richard Sherman Website
---

<!DOCTYPE html>
<html lang="en"><head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="The Official Website for Richard Sherman, the defensive back for the Seattle Seahawks. Get the latest Richard Sherman news and buy Richard Sherman gear.">
		<meta name="author" content="Anthro.is">
		<meta property="og:title" content="Official Richard Sherman Website">
		<meta property="og:description" content="Get the latest Richard Sherman news, blogs and buy exclusive Richard Sherman gear.">
		<meta property="og:image" content="http://www.richardsherman25.com/assets/images/fbook.png">
			
		<meta name="twitter:card" content="summary">
		<meta name="twitter:url" content="http://www.richardsherman25.com/">
		<meta name="twitter:title" content="Official Richard Sherman Website">
		<meta name="twitter:description" content="Get the latest Richard Sherman news, blogs and buy exclusive Richard Sherman gear.">
		<meta name="twitter:image" content="http://www.richardsherman25.com/assets/images/mobile.png">
		<meta name="google-site-verification" content="_eha3nXioK5cpJWaQLEebgXKW_Lwhz92BmYl6EfYnto" />

		<!-- CSS -->
		<link rel="stylesheet" href="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/css/prettyPhoto.css">       
        <link rel="stylesheet" href="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/css/bootstrap-responsive.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/css/colorbox.css">		
			
			
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/images/RS Favicon.jpg">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	      
			ga('create', 'UA-41001836-1', 'richardsherman25.com');
			ga('send', 'pageview');
		</script>
	
	</head>

	<body data-spy="scroll" data-target=".navbar">

		<!-- Top Page Fullwidth Container -->
		<div class="fullwidth">
			<div class="fullnav header">	
				{% include navbar.html %}
			</div>
			<!-- Hero Top Slider -->
			<div id="home" class="fullnav slider hidden-phone">
				<div id="background" class="slider-block">
					<div class="cycle-slider">
						<!-- <div class="cycle-next"></div>
						<div class="cycle-prev"></div> -->

		
						<div class="slide-wrap">
							<div class="slide">
								<img src="img/superbowl_win_02.jpg" width="1600" height="1064" alt="Superbowl Win 02">
							</div>
						</div>


						<!-- <div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/1.png" alt="">
							</div>
							<div class="caption-box">
								<div class="caption">
									<span class="slide-text"><a href="#blogs">I am Richard Sherman.</a></span>
								</div>
							</div>
						</div> -->

						<!--<div class="slide-wrap">
							<div class="slide">
								<img src="assets/images/slider/2.png" alt="">
							</div>
							<div class="caption-box">
								<div class="caption">
									<span class="slide-text"><a href="#news">Latest about me.</a></span>
								</div>
							</div>
						</div>-->
						<!--<div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/superbowl_tix2.jpg" alt="">
							</div>
						</div>							
						<div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/superbowl2.jpg" alt="">
							</div>
						</div>-->															
						<!-- <div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/3.png" alt="">
							</div>
							<div class="caption-box">
								<div class="caption">
									<span class="slide-text"><a href="#store">My official gear.</a></span>
								</div>
							</div>
						</div> -->
					</div>
				</div>
				<span class="scroll-image hidden-tablet"><a href="#store"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/sherman_scroll.png" alt=""></a></span>
			</div><!-- End Hero Slider -->
		</div><!-- End Fullscreen Container-->

		<!--Promotional Banner Mobile -->
			<section id="mobile" class="hidden-tablet hidden-desktop">
				<h1 class="section-title-white">2014 SUPER BOWL XLVII CHAMPIONS</h1>
			</section>
		<!--End of Banner -->


		
		<div id="store">
		<section class="section-block">
			<a href="http://store.richardsherman25.com/collections/all-products"><h1 class="section-title text-center">GEAR</h1></a>
			<br>
			<div clas="row">
				<div class="text-center visible-desktop visible-tablet">
					<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
				</div>
				<div class="text-center visible-phone">
					<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
				</div>
			</div>
			<br>

			<div class="store clearfix">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="items-wrap clearfix">
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-we-are-the-champions-super-bowl-xlviii-2014-t-shirt-mens-navy" class="item-link">
										<div class="overlay"></div>
										<img src="img/champ_men.jpg"  alt="championship men">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-we-are-the-champions-super-bowl-xlviii-2014-t-shirt-womens-perfect-fit-navy" class="item-link">
										<div class="overlay"></div>
										<img src="img/werthechamps_women.jpg"  alt="championship women">
									</a>
								</div>
								
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-what-would-richard-say-t-shirt-mens-navy" class="item-link">
										<img src="img/wwrs.jpg" alt="richardsay men">
										<div class="overlay"></div>
									</a>
								</div>

								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-what-would-richard-say-womens-perfect-fit-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="img/wwrs_women.jpg"  alt="Wwrs Women">
										<div class="overlay"></div>
									</a>
								</div>

								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/dont-you-ever-talk-about-me-mens-perfect-fit-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/donttalkmens.png" alt="Don't You Ever Talk About Me">
									</a>
								</div>

								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/dont-you-ever-talk-about-me-womens-perfect-fit-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/donttalkwomens.jpg" alt="Don't You Ever Talk About Me">
									</a>
								</div>



								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-shutdown-2-0-t-shirt-womens-perfect-fit-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/shutdown-f.png" alt="Shutdown 2.0 T-Shirt">
									</a>
								</div>
								
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-shutdown-2-0-t-shirt-mens-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/shutdown-m.png" alt="Shutdown 2.0 T-Shirt">
									</a>
								</div>


								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/i-bleed-blue-green-and-gray-navy-womens" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/bluegreenwomens.jpg" alt="I Bleed Blue, Green, And Grey(Navy)">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/i-bleed-blue-green-and-gray-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/bluegreenmens.jpg" alt="I Bleed Blue, Green, And Grey(Navy)">
									</a>
								</div>
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-long-sleeve-t-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_sweatshirt.jpg" alt="shutdown sweatshirt">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-snapback-cap-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Font Shutdown_small.jpg" alt="snapback cap">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/you-mad-bro-snapback-cap-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/You Mad Bro Font_small.jpg" alt="U MAD BRO Cap">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-custom-beanie" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_beanie.png" alt="snapback cap">
									</a>
								</div>->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/you-mad-bro-custom-beanie" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/madbro_beanie.png" alt="snapback cap">
									</a>
								</div>-->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/all-products/products/rs25-exclusive-wristbands-2-pack-bundle" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/wrist.jpg" alt="U MAD BRO Sweater">
									</a>
								</div>
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/women-s-v-neck-be-better-than-life-breast-cancer-awareness-t-shirt-pink" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/sherman_breast_cancer_awareness_210x2102.png" alt="U MAD BRO Sweater">
									</a>
								</div>-->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/all-products/products/you-mad-bro-hoodie-navy" class="item-link">
										<div class="overlay resize"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/U_Mad_Bro_u.jpg" alt="U MAD BRO Sweater">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/u-mad-bro-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/U_Mad_Bro_black.png" alt="U MAD BRO Black">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/u-mad-bro-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/U_Mad_Bro_navy.png" alt="U MAD BRO Navy">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/dread-head-helmet-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Dread_Head_black.png" alt="Dread Head Black">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/dread-head-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Dread_Head_navy.png" alt="Dread Head Navy">
									</a>
								</div>
							<!--	<div class="item shoes">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/dread-head-helmet-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Dread_Head_white.png" alt="Dread Head White">
									</a>
								</div> -->
								<!--<div class="item shoes">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/rs-logo-design-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Guys_RS_black.png" alt="Guys RS Black">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/rs-logo-design-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Guys_RS_navy.png" alt="Guys RS Navy">
									</a>
								</div>-->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/rs-logo-design-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Guys_RS_white.png" alt="Guys RS White">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_mens.png" alt="Shutdown Mens">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-t-shirt-women-s-perfect-fit-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_womans.png" alt="Shutdown womens">
									</a>
								</div>-->
							<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_black.png" alt="Hawk Black">
									</a>
								</div> -->
								<!-- <div class="item graphic-design">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-grey" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_grey.png" alt="Hawk Grey">
									</a>
								</div> -->
							<!-- <div class="item illustration">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_navy.png" alt="Hawk Navy">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_white.png" alt="Hawk White">
									</a>
								</div>-->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seattle-skyline-25-t-shirt" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Skyline_black.png" alt="Skyline Black">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seattle-skyline-25-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Skyline_navy.png" alt="Skyline Navy">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seattle-skyline-25-t-shirt-turquoise" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Skyline_turquoise.png" alt="Skyline Turquoise">
									</a>
								</div>-->
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/women-s/products/women-s-v-neck-rs-logo-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Girls_RS_black2.png" alt="Girls RS Black">
									</a>
								</div> -->
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/women-s/products/womens-v-neck-rs-logo-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Girls_RS_navy.png" alt="Girls RS Navy">
									</a>
								</div> -->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/womens-v-neck-you-mad-bro-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Girls_UMADBRO_navy.jpg" alt="Girls YOUMADBRO Navy">
									</a>
								</div>
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/womens-v-neck-you-mad-bro-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Girls_UMADBRO_black.png" alt="Girls YOUMADBRO Black">
									</a>
								</div> -->
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/socks/products/balty-socks-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Balty_Socks_white.png" alt="Balty Socks">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/socks/products/rs25-logo-socks-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/RS_Socks_navy.png" alt="Balty Socks">
									</a>
								</div> -->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/kids-dread-head-t-shirt-grey" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/new_grey_thumb.png" alt="Grey Shirt">
									</a>
								</div> -->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/kids-better-at-life-t-shirt-lime" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/new_green_thumb.png" alt="Green Shirt">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/toddlers-dread-head-helmet-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/toddler's_navy.png" alt="Dread Head Navy Kid's">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/toddlers-you-mad-bro-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/toddler's_youmad.png" alt="Toddler's You Mad">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/infants-you-mad-bro-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/baby_youmad.png" alt="Infant's You Mad">
									</a>
								</div>-->
						

							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/infant-s-better-at-life-onesie-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/new_baby_thumb.png" alt="Baby Onesie">
									</a>
								</div> -->
				
							</div>
							<br />
						</div>
						<br />
					</div>
					<!-- End Items -->
				</div>
			</div>
			<!-- End Store -->
			
		</section>
		</div>
		<!--<div id="form">
		<br />
		<br />
			<div class="container">
				<div class="row">
					<div class="span6 description">
						<h1 class="section-title text-center">TELL ME YOUR FAVORITE SEAHAWKS MOMENT!</h1>
						<p>Submit by 11:59 pm PST 01/25/2014</p>
						<p>I will choose one (1) fan and award winner with one (1) general admission ticket to SB48.*</p>
						<p>*One (1) ticket only for the Championship game on 02/02/2014 at MetLife Stadium.  Winner is responsible for all expenses to attend the game which includes but not limited to travel, food, hotel, etc.  This is a no purchase to enter sweepstake.  Please see general T&Cs below for full disclosures.</p>
					</div>
					<div class="span6">
						<iframe src="http://www.qontacto.com/f/52e2e182a2f19c1e5c000038" data-aem="noel@anthro.is" width="100%" height="537px" style="width:100%;height:537px;border:0;"></iframe>
						
					</div>
				</div>
			</div>
		</div> -->

		<!--Media Picture Section-->
		<section id="media">
			<div class="pic">
			<div class="aside-container">
				<div class="aside-content">
					<div class="container">
						<div class="row marg">
							<a href="media.html"><h1 class="section-title-white text-center">MEDIA</h1></a>
						</div>
						<div class="row">									
							<p class="white text-center sub-title">TAKE A LOOK INSIDE MY LIFE</p>
						</div>	
					</div>
				</div>
				<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>
					<div class="container">

						<div class="row">

							<div class="span6">
								<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/shermanrunning.png"/></a>
							</div>			
							
							<br />
								<div class="span2 hidden-phone hidden-tablet">
									<br/><br/>
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/tbt.jpg" class="medimg img-responsive"></a>	
								</div>	
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/hero_05_03.jpg" class="medimg img-responsive"></a>
								</div>
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/media/gallery4_thumb.png" class="medimg img-responsive"></a>
								</div>	
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/media/gallery7_thumb.png" class="medimg img-responsive"></a>
								</div>
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/media/gallery3_thumb.png" class="medimg img-responsive"></a>
								</div>
								<div class="span6 pagination-centered">
								<br />
								<button class="btn btn btn-success" type="button"><a href="media.html">View More</a></button>
								<br/>
								<br/>
					</div>


						</div>
						
						<!--<div class="row">

							<div class="span4 hidden-phone hidden-tablet">
								<img src="assets/images/media/original/10.png" class="medimg img-responsive">
							</div>	

							<div class="span4 hidden-phone hidden-tablet">
									<img src="assets/images/media/original/18.png" class="medimg img-responsive">	
							</div>	
						

							<div class="span4 hidden-phone hidden-tablet">
									<img src="assets/images/media/original/21.png" class="medimg img-responsive">	
							</div>							
					</div>-->
					</div>
				</div>
			</div>
			</div>
		</section>



		<!-- Contest Form 
		<div id="contest">
			<div class="section-block container">
				<form id="form1" name="form1" class="wufoo topLabel page clearfix" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://anthrois.wufoo.com/forms/z174j8zi1dlambr/#public">
					<header class="info">
						<h2 class="section-title">Richard Sherman's Holiday Giveaway</h2>
						<h3>Sponsored by Blanket Coverage</h3>
					</header>
					<div class="iframe-wrapper pull-left">
						<iframe src="//player.vimeo.com/video/80519436" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width: 100%; height: 100%"></iframe>
					</div>
					<div class="column-wrapper pull-right">
						<div class="description-wrapper">
							<p>Submit a story about you, a friend, or a family member you know who is in need this holiday season. Tell us your wish list this year and why you want to win the Blanket Coverage giveaway. Richard will be choosing a winner by Friday, Dec 20th.</p>
						</div>
						<ul class="clearfix">
							<li id="foli21" class="notranslate field-name pull-left">
								<div>
									<input id="Field21" name="Field21" type="text" class="field text medium" maxlength="255" tabindex="1" onkeyup="" required placeholder="Name"/>
								</div>
							</li>
							<li id="foli5" class="notranslate field-email pull-right">
								<div>
									<input id="Field5" name="Field5" type="email" spellcheck="false" class="field text medium" maxlength="255" tabindex="2" required placeholder="E-mail"/>
								</div>
							</li>
							<li id="foli8" class="notranslate field-story clearfix">
								<div>
									<textarea id="Field8" 
									name="Field8" 
									class="field textarea medium" 
									spellcheck="true" 
									rows="9" 
									tabindex="3" 
									onkeyup=""
									required
									placeholder="Your story..."></textarea>
								</div>
							</li>
							<li id="foli10" class="notranslate field-upload pull-left">
								<div>
									<input id="Field10" name="Field10" type="file" class="field file" size="12" tabindex="4" required />
								</div>
							</li>
							<li class="buttons pull-right">
								<div>
									<input id="saveForm" name="saveForm" class="btn btn-large btn-success submit" type="submit" value="Submit"/>
								</div>
							</li>
							<li class="hide">
								<label for="comment">Do Not Fill This Out</label>
								<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
								<input type="hidden" id="idstamp" name="idstamp" value="wE7rwI5h9Fl1gGw9sKyQtFUqk4b6mcGyW8zmGfiuuMY="/>
							</li>
						</ul>
					</div><!.column-wrapper -->
				</form>
			</div>
		</div>

		<!-- Blog Section -->
		<!-- Pulls Blogs from richardsherman25.tumblr.com -->
		<aside id="blog" class="aside-block">
			<div class="aside-container">
				<div class="aside-content">
					<div class="container">
						<div class="row">
							<div class="span12 pagination-centered">
								<a href="blog.html"><h1 class="section-title text-center">Blog</h1></a>								
								
							</div>
						</div>
			<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>
						<!-- blogs -->

						<div class="row hidden-phone">
							{% for post in site.posts limit: 2 %}
								<div class="span6  hidden-phone">
									{% include thumbnail.html %}
								</div>
							{% endfor %}

							<!-- Hidden phone blog posts-->
							<!--<div class="span6  hidden-phone">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/blog/press.jpg"><br>
								<h2>Super Bowl</h2>
								<p>This week has given me a while to think about how amazing this season has been. I couldn’t be more proud of this team, and what we have been able to accomplish this year. Seattle is home to the greatest fans in the NFL, and we are excited to be in a position to potentially bring home the trophy that this city deserves! [...]</p><br>
			
										<span class="pull-left comment"><i class="icon-chat"></i></span><a href="blog.html" target="_blank" class="btn btn btn-success pull-left">READ MORE</a>					
							</div>								

							<div class="span6  hidden-phone">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/blog/49ers_seahawks.jpg"><br>
								<h2>NFC Championship Game</h2>
								<p>Let’s keep this train rolling 12s! This year has been a fun ride and has given us a chance to reach the Super Bowl. We are aware of how big this game is, but the pressure is not felt due to the fact that we treat every week like championship week. We have always believed in preparing at a high-level, and that mindset eliminates nerves and doubt  [...]</p><br>
			
										<span class="pull-left comment"><i class="icon-chat"></i></span><a href="blog.html" target="_blank" class="btn btn btn-success pull-left">READ MORE</a>					
							</div>	-->					

							<!--<div class="span6">
								<img src="assets/images/blog/saints_seahawks.jpg">
								<h2>Tomorrow's Game Against the Saints</h2>
								<p>Alright 12s, this is what we’ve been waiting for all year. We are in a position to achieve something special here in Seattle and it all starts tomorrow. We have plenty of frustrations from last year’s Playoff game against the Falcons, and we’ve prepared all week with these memories in mind to ensure that we never have that feeling again  [...]</p><br>
										<span class="pull-left comment"><i class="icon-chat"></i></span><a href="blog.html" target="_blank" class="btn btn btn-success pull-left">READ MORE</a>																
							</div>-->							

							<!--<div class="span6">
								<img src="assets/images/blog/press.jpg">
								<h2>Super Bowl</h2>
								<p>This week has given me a while to think about how amazing this season has been. I couldn’t be more proud of this team, and what we have been able to accomplish this year. Seattle is home to the greatest fans in the NFL, and we are excited to be in a position to potentially bring home the trophy that this city deserves! [...]</p><br>
										<span class="pull-left comment"><i class="icon-chat"></i></span><a href="blog.html" target="_blank" class="btn btn btn-success pull-left">READ MORE</a>																
							</div>	-->						

						</div>							

					<div class="hidden-desktop hidden-tablet">
						<div class="row">
							{% for post in site.posts limit: 2 %}
							<div class="span6 paddo">	
								<div class="span6  hidden-phone">
									{% include thumbnail.html %}
								</div>
							</div>
							{% endfor %}
								<!--<div class="span6 paddo">
									<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/blog/press.jpg"><br>
									<h2>Super Bowl</h2>
									<p>This week has given me a while to think about how amazing this season has been. I couldn’t be more proud of this team, and what we have been able to accomplish this year. Seattle is home to the greatest fans in the NFL, and we are excited to be in a position to potentially bring home the trophy that this city deserves! [...]</p><br>									
										<span class="pull-left"><i class="icon-chat"></i></span><a href="blog.html" target="_blank" class="btn btn btn-success pull-left">READ MORE</a>					
								</div>	
							<br><br>
							<div class="span6">
									<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/blog/49ers_seahawks.jpg"><br>
									<h2>NFC Championship Game</h2>
									<p>Let’s keep this train rolling 12s! This year has been a fun ride and has given us a chance to reach the Super Bowl. We are aware of how big this game is, but the pressure is not felt due to the fact that we treat every week like championship week. We have always believed in preparing at a high-level, and that mindset eliminates nerves and doubt  [...]</p><br>
										<span class="pull-left comment"><i class="icon-chat"></i></span><a href="blog.html" target="_blank" class="btn btn btn-success pull-left">READ MORE</a>																
							</div>
							-->															
						</div>
					</div>

						

							<!--<div id="blogs">
							</div>-->
						</div>
						<!-- / #blogs -->
					</div>
				</div>
			</div>
		</aside>

		<section id="stats hidden-phone">
			<div class="stats">
			<div class="aside-container">
				<div class="aside-content">
					<div class="container">
						<div class="row">
							<div class="span12">
									<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/stats.png" alt="stats">
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</section>

		<section id="newsletter">
			<div class="container">
			<br />
				<div class="row">
					<div class="span12">
						<h1 class="section-title text-center">JOIN MY NEWSLETTER</h1>
					</div>
				</div>
				<div class="row">
				<div id="mc_embed_signup">
					<form action="http://richardsherman25.us7.list-manage.com/subscribe/post?u=32c7371ee4367ce4194c212c1&amp;id=0a96452cda" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="hello@example.com" required>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class=" btn btn btn-success"></div>
					</form>
				</div>
				</div>
			</div>
			<br />
		</section>



		<!-- News Section -->
		<div id="news">
		<aside class="aside-block" data-background="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/backgrounds/news_bg.png" >
			<div class="aside-overlay"></div>
			<div class="aside-container">
				<div class="aside-content">
					<div class="container">
						<div class="row">
							<div class="span12 pagination-centered">
								<a href="news.html"><h1 class="section-title-white text-center">LATEST NEWS</h1></a>
															
							</div>
						</div>
						<br />
			<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>


						<div class="row">	

							<div class="span4">
								<div class="news">
									<div class="news-head">
										<h3><span class="normal">01.31.2014</span><br /><span class="title">Obama on Sherman</span></h3>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/news/obamanews.jpg" class="newsimg" alt="Blog1">
									</div>
									<br />
									<p class="blog_text">President Barack Obama, an avid sports fan, weighed in on the controversy surrounding Super Bowl-bound Seattle Seahawks' cornerback Richard Sherman, in an interview with CNN...</p>
																	
									<span class="pull-left comment"><i class="icon-chat"></i></span><a href="http://thelead.blogs.cnn.com/2014/01/31/obama-richard-sherman-muhammad-ali-tapper-exclusive/" target="_blank" class="btn btn btn-success pull-right">READ MORE</a>
								</div>
							</div>	

							<div class="span4 hidden-phone">
								<div class="news">
									<div class="news-head">
										<h3><span class="normal">01.28.2014<br /><span class="title">10 Things I learned</span></h3>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/news/10-final.jpg" class="newsimg" alt="Blog1">
									</div>
									<br/>
										
									<p class="blog_text">No one has ever made himself great by showing how small someone else is. That’s not mine. It belongs to Irvin Himmel...</p>
										
									<span class="pull-left comment"><i class="icon-chat"></i></span><a href="http://mmqb.si.com/2014/01/28/richard-sherman-seattle-seahawks-super-bowl-xlviii/" target="_blank" class="btn btn btn-success pull-right">READ MORE</a>
								</div>
							</div>
						
						
							<div class="span4 hidden-phone">
								<div class="news">
									<div class="news-head">
										<h3><span class="normal">01.28.2014</span><br /><span class="title">More than Words</span></h3>
										<a class="youtube cboxElement" href="http://www.youtube.com/embed/0Q4-O9JHefo"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/news/encounter.jpg" class="newsimg"></a>
									</div><br>
							
									<p class="blog_text">In a CNN exclusive, the Seattle cornerback talks about his infamous outburst and the journey that got him to that moment...</p>
								

									<span class="pull-left comment"><i class="icon-chat"></i></span><a href="http://www.cnn.com/video/data/2.0/video/sports/2014/01/25/richard-sherman-more-than-words.cnn.html" class="btn btn btn-success pull-right" target="_blank">VIEW VIDEO</a>
								</div>
							</div>	
						</div>
					</div>
				</div>
			</div>
		</aside>
		</div>

		<!-- Foundation Section -->
<aside id="foundation" class="aside-block">
	<div class="container title">
		<div class="span12 pagination-centered">
			<h1 id="m_title" class="section-title text-center" >FOUNDATION</h1>
			<h3 class="mod_blank"> Blanket Coverage </h3>
		</div>
	</div>
	<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>
	<div class="container">
		<div class="row">
			<div class="span12 hidden-phone hidden-desktop">
				<iframe class="text-center" width="560" height="315" src="//www.youtube.com/embed/xcoCQZ_ct9s" frameborder="0" allowfullscreen></iframe><br/>
				<h4 class="text-center">Richard Sherman Blanket Coverage "Holiday Give Back"</h4><br>				
			</div>
		</div>	

		<div class="row">
			<div class="span12 hidden-phone hidden-desktop">
				<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/common_investor.jpg">
				<p class="pad-5">Richard Sherman and the Blanket Coverage team would like to give a special thanks to Dave Meyers with <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a> Through Common Man Investor’s stock tips, the Blanket Coverage team has been able to more than double the foundation’s stock portfolio in just the past 6 months. Dave has provided a great way for Blanket Coverage to continue to raise proceeds for future Blanket Coverage events! Check them out at <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a></p>				
			</div>	
		</div>
		<div class="row">
			<div class="span6 hidden-phone hidden-tablet">
				<iframe class="text-center" width="560" height="315" src="//www.youtube.com/embed/xcoCQZ_ct9s" frameborder="0" allowfullscreen></iframe><br/>
				<h4 class="text-center">Richard Sherman Blanket Coverage "Holiday Give Back"</h4><br>				
			</div>

			<div class="span6 hidden-tablet">
				<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/common_investor.jpg">
				<p class="pad-5">Richard Sherman and the Blanket Coverage team would like to give a special thanks to Dave Meyers with <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a> Through Common Man Investor’s stock tips, the Blanket Coverage team has been able to more than double the foundation’s stock portfolio in just the past 6 months. Dave has provided a great way for Blanket Coverage to continue to raise proceeds for future Blanket Coverage events! Check them out at <a href="http://www.commonmaninvestor.com" target="_blank">www.commaninvestor.com</a></p>				
			</div>		
		</div>
	</div>
</aside>

		<!--College Picture Section-->
		<section id="college">
			<div class="pic2">
				<div class="container">
					<div class="aside-content">
						<div class="container">
							<div class="row marg">
								<h1 class="section-title-white text-center">College</h1>
							</div>	
							<div class="row">
								<p class="sub-title text-center white">Stanford Cardinal</p>
							</div>
			<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>
							<div class="college-info">
								<div class="row">
									<div class="college-text">
										<div class="span3 sub-title white">
											<p>California Born & Raised</p>
										</div>
										<div class="span3 subtitle-1 ">
											<ul>
												<li>6'3" - 195 POUNDS</li>
												<li>32" LONG ARMS</li>
												<li>38" VERTICAL LEAP</li>
												<li>4.65 SECOND 40 YARD</li>
											</ul>
										</div>
									</div>
									<div class="span6 pull-right">
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/rscollege.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	

		<section id="social" class="section-block hidden-phone">
			<h1 class="section-title text-center">Social</h1>
			<br />
			<div class="container">
				<div class="row">
					<div class="span3 offset2">
						<a class="socialIcons" href="https://www.facebook.com/RichardShermanFanPage" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/facebook-128.png" alt="facebook"></a>
					</div>
					<div class="span3">
						<a class="socialIcons" href="https://twitter.com/RSherman_25" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/twitter-128.png" alt="twitter"></a>
					</div>
					<div class="span3">
						<a class="socialIcons" href="https://instagram.com/rsherman25" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/instagram-128.png" alt="instagram"></a>
					</div>								
				</div>
				<br>
				<div class="row hidden-tablet">
					<div class="span4">
						<h8 class="soc-font">/RICHARDSHERMANFANPAGE</h8><br>
						<a href="https://www.facebook.com/RichardShermanFanPage" target="_blank"><p class="soc-font4">FACEBOOK</p></a>
					</div>
					<div class="span4">
						<h8 class="soc-font2">@RSHERMAN_25</h8><br>
						<a href="https://twitter.com/RSherman_25" target="_blank"><p class="soc-font5">TWITTER</p></a>							
					</div>
					<div class="span4">
						<h8 class="soc-font3">@RSHERMAN25</h8>
							<a href="https://instagram.com/rsherman25" target="_blank"><p class="soc-font6">INSTAGRAM</p></a>							
					</div>												
				</div>		
			</div>
		</section>

		{% include footer.html %}
	<!-- End Page Content -->

	<!-- Javascript -->
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery-1.9.1.min.js"></script>
    <script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.colorbox-min.js"></script>	
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/bootstrap.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.plugins.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.parallax.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.js"></script>
	

	<!-- Plugins -->
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/fitvids/jquery.fitvids.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/quovolver/jquery.quovolver.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.prettyPhoto.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/contactform/jquery.form.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/contactform/jquery.validate.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/cycle2/jquery.cycle2.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/cycle2/jquery.cycle2.swipe.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>


<!--Colorbox-->
<script>
	$(document).ready(function(){
		$(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
	});
</script>
    


<!-- Img Resize for News -->
<script>
	$(document).ready(function(){
		$('.newsimg').height("200");
		$('.newsimg').width("300");
		$('.news p').height("200");
	});
</script>
<!--End Script-->

<script type="text/javascript" >
$(document).ready(function()
{
$(".account").click(function()
{
var X=$(this).attr('id');

if(X==1)
{
$(".submenu").hide();
$(this).attr('id', '0');	
}
else
{

$(".submenu").show();
$(this).attr('id', '1');
}
	
});

//Mouseup textarea false
$(".submenu").mouseup(function()
{
return false
});
$(".account").mouseup(function()
{
return false
});


//Textarea without editing.
$(document).mouseup(function()
{
$(".submenu").hide();
$(".account").attr('id', '');
});
	
});
	
	</script>

<script type="text/javascript">

	$('.scroolhide a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    if ($('.btn').is(":visible"))
     $('.btn').click();
   });

 </script>	
</body>

</html>