		<!--College Picture Section-->
		<section id="college">
			<div class="pic2">
				<div class="container">
					<div class="aside-content">
						<div class="container">
							<div class="row marg">
								<h1 class="section-title-white text-center">College</h1>
							</div>	
							<div class="row">
								<p class="sub-title text-center white">Stanford Cardinal</p>
							</div>
			<section class="section-block-banner">
					<div clas="row">
						<div class="text-center visible-desktop visible-tablet">
							<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
						</div>
						<div class="text-center visible-phone">
							<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
						</div>
					</div>
				</section>
							<div class="college-info">
								<div class="row">
									<div class="college-text">
										<div class="span3 sub-title white">
											<p>California Born & Raised</p>
										</div>
										<div class="span3 subtitle-1 ">
											<ul>
												<li>6'3" - 195 POUNDS</li>
												<li>32" LONG ARMS</li>
												<li>38" VERTICAL LEAP</li>
												<li>4.65 SECOND 40 YARD</li>
											</ul>
										</div>
									</div>
									<div class="span6 pull-right">
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/rscollege.png">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>