		<!--Contest Form -->
		<div id="contest">
			<div class="section-block container">
				<form id="form1" name="form1" class="wufoo topLabel page clearfix" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://anthrois.wufoo.com/forms/z174j8zi1dlambr/#public">
					<header class="info">
						<h2 class="section-title">Richard Sherman's Holiday Giveaway</h2>
						<h3>Sponsored by Blanket Coverage</h3>
					</header>
					<div class="iframe-wrapper pull-left">
						<iframe src="//player.vimeo.com/video/80519436" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="width: 100%; height: 100%"></iframe>
					</div>
					<div class="column-wrapper pull-right">
						<div class="description-wrapper">
							<p>Submit a story about you, a friend, or a family member you know who is in need this holiday season. Tell us your wish list this year and why you want to win the Blanket Coverage giveaway. Richard will be choosing a winner by Friday, Dec 20th.</p>
						</div>
						<ul class="clearfix">
							<li id="foli21" class="notranslate field-name pull-left">
								<div>
									<input id="Field21" name="Field21" type="text" class="field text medium" maxlength="255" tabindex="1" onkeyup="" required placeholder="Name"/>
								</div>
							</li>
							<li id="foli5" class="notranslate field-email pull-right">
								<div>
									<input id="Field5" name="Field5" type="email" spellcheck="false" class="field text medium" maxlength="255" tabindex="2" required placeholder="E-mail"/>
								</div>
							</li>
							<li id="foli8" class="notranslate field-story clearfix">
								<div>
									<textarea id="Field8" 
									name="Field8" 
									class="field textarea medium" 
									spellcheck="true" 
									rows="9" 
									tabindex="3" 
									onkeyup=""
									required
									placeholder="Your story..."></textarea>
								</div>
							</li>
							<li id="foli10" class="notranslate field-upload pull-left">
								<div>
									<input id="Field10" name="Field10" type="file" class="field file" size="12" tabindex="4" required />
								</div>
							</li>
							<li class="buttons pull-right">
								<div>
									<input id="saveForm" name="saveForm" class="btn btn-large btn-success submit" type="submit" value="Submit"/>
								</div>
							</li>
							<li class="hide">
								<label for="comment">Do Not Fill This Out</label>
								<textarea name="comment" id="comment" rows="1" cols="1"></textarea>
								<input type="hidden" id="idstamp" name="idstamp" value="wE7rwI5h9Fl1gGw9sKyQtFUqk4b6mcGyW8zmGfiuuMY="/>
							</li>
						</ul>
					</div><!--.column-wrapper -->
				</form>
			</div>
		</div>