		<section id="social" class="section-block hidden-phone">
			<h1 class="section-title text-center">Social</h1>
			<br />
			<div class="container">
				<div class="row">
					<div class="span3 offset2">
						<a class="socialIcons" href="https://www.facebook.com/RichardShermanFanPage" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/facebook-128.png" alt="facebook"></a>
					</div>
					<div class="span3">
						<a class="socialIcons" href="https://twitter.com/RSherman_25" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/twitter-128.png" alt="twitter"></a>
					</div>
					<div class="span3">
						<a class="socialIcons" href="https://instagram.com/rsherman25" target="_blank"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/social/instagram-128.png" alt="instagram"></a>
					</div>								
				</div>
				<br>
				<div class="row hidden-tablet paddown-200">
					<div class="span4">
						<h8 class="soc-font">/RICHARDSHERMANFANPAGE</h8><br>
						<a href="https://www.facebook.com/RichardShermanFanPage" target="_blank"><p class="soc-font4">FACEBOOK</p></a>
					</div>
					<div class="span4">
						<h8 class="soc-font2">@RSHERMAN_25</h8><br>
						<a href="https://twitter.com/RSherman_25" target="_blank"><p class="soc-font5">TWITTER</p></a>							
					</div>
					<div class="span4">
						<h8 class="soc-font3">@RSHERMAN25</h8>
							<a href="https://instagram.com/rsherman25" target="_blank"><p class="soc-font6">INSTAGRAM</p></a>							
					</div>												
				</div>		
			</div>
		</section>

<!-- Footer -->
<footer id="footer" class="footer">
	<div class="back-top"></div>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="span3">
					<h4>Richard Sherman</h4>
					<div class="nav-collapse collapse">
						<ul class="pull-left">
							<li><a href="#store">GEAR</a></li>
							<li><a href="#media">MEDIA</a></li>
							<li><a href="#blog">BLOG</a></li>
							<li><a href="#news">NEWS</a></li>
							<li><a href="#foundation">FOUNDATION</a></li>
							<li><a href="#social">SOCIAL</a></li>			
						</ul>
					</div>
				</div>
				<div class="span6 pagination-centered">
					<!-- Begin Signup Form -->
					<div id="mc_embed_signup">
						<form action="http://richardsherman25.us7.list-manage.com/subscribe/post?u=32c7371ee4367ce4194c212c1&amp;id=0a96452cda" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<label for="mce-EMAIL" class="section-title-sub">Join Richard Sherman!</label>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="hello@example.com" required>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class=" btn btn btn-success"></div>
						</form>
					</div>
					<!--End mc_embed_signup-->
				</div>

				<div class="span3">
					<h4>Contact Us</h4>
					<p> For endorsement or appearance inquiries, please email <a class="contact-email" href="mailto:mitch@fritzmartin.com">mitch@fritzmartin.com</a></p>
					<hr>
					<p> For all other inquiries, email us at <a class="contact-email" href="mailto:contact@richardsherman25.com">contact@richardsherman25.com</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="span12">
					<p class="footer_ecommfidence">powered by // <a href="http://www.anthro.is" target="_blank">anthro.is</a> // a digital partner & platform <br />A client of <a href="http://fritzmartin.com/" target="_blank" class=""> Fritz Martin Management</a></p>
					Copyright 2013. RSherman Enterprises, LLC. All Rights Reserved. <a href="privacy_policy.html" target="_blank">Privacy Policy</a>
				</div>
			</div>
		</div>
	</div>
</footer>