		<!--Media Picture Section-->
		<section id="media">
			<div class="pic">
			<div class="aside-container">
				<div class="aside-content">
					<div class="container">
						<div class="row marg">
							<a href="media.html"><h1 class="section-title-white text-center">MEDIA</h1></a>
						</div>
						<div class="row">									
							<p class="white text-center sub-title">TAKE A LOOK INSIDE MY LIFE</p>
						</div>	
					</div>
				</div>
						{% include section-banner.html %}
					<div class="container">

						<div class="row">

							<div class="span6">
								<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/shermanrunning.png"/></a>
							</div>			
							
							<br />
								<div class="span2 hidden-phone hidden-tablet">
									<br/><br/>
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/tbt.jpg" class="medimg img-responsive"></a>	
								</div>	
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/hero_05_03.jpg" class="medimg img-responsive"></a>
								</div>
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/media/gallery4_thumb.png" class="medimg img-responsive"></a>
								</div>	
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/media/gallery7_thumb.png" class="medimg img-responsive"></a>
								</div>
								<div class="span2 hidden-phone hidden-tablet">
									<a href="media.html"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/media/gallery3_thumb.png" class="medimg img-responsive"></a>
								</div>
								<div class="span6 pagination-centered">
								<br />
								<button class="btn btn btn-success" type="button"><a href="media.html">View More</a></button>
								<br/>
								<br/>
					</div>


						</div>
						
						<!--<div class="row">

							<div class="span4 hidden-phone hidden-tablet">
								<img src="assets/images/media/original/10.png" class="medimg img-responsive">
							</div>	

							<div class="span4 hidden-phone hidden-tablet">
									<img src="assets/images/media/original/18.png" class="medimg img-responsive">	
							</div>	
						

							<div class="span4 hidden-phone hidden-tablet">
									<img src="assets/images/media/original/21.png" class="medimg img-responsive">	
							</div>							
					</div>-->
					</div>
				</div>
			</div>
			</div>
		</section>