<nav id="fullnav">
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid navtabs">
				<div class="dropdown">
					<a href="#" class="brand">RSherman</a>
	                <a class="btn btn-navbar account" id="closeonclick" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="submenu" style="display: none; ">
						<ul class="root nav pull-right ">
							<li><a href="#store">GEAR</a></li>
							<li><a href="#media">MEDIA</a></li>
							<li><a href="#blog">BLOG</a></li>
							<li><a href="#news">NEWS</a></li>
							<li><a href="#foundation">FOUNDATION</a></li>
							<li><a href="#social">SOCIAL</a></li>
						</ul>
					</div>
				</div>
	                                    
				 <div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="#store">GEAR</a></li>
						<li><a href="#media">MEDIA</a></li>
						<li><a href="#blog">BLOG</a></li>
						<li><a href="#news">NEWS</a></li>
						<li><a href="#foundation">FOUNDATION</a></li>
						<li><a href="#social">SOCIAL</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav><!-- End Page Nav -->