		<section id="newsletter">
			<div class="container">
			<br />
				<div class="row">
					<div class="span12">
						<h1 class="section-title text-center">JOIN MY NEWSLETTER</h1>
					</div>
				</div>
				<div class="row">
				<div id="mc_embed_signup">
					<form action="http://richardsherman25.us7.list-manage.com/subscribe/post?u=32c7371ee4367ce4194c212c1&amp;id=0a96452cda" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
							<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="hello@example.com" required>
							<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class=" btn btn btn-success"></div>
					</form>
				</div>
				</div>
			</div>
			<br />
		</section>