			<!-- Hero Top Slider -->
			<div id="home" class="fullnav slider hidden-phone">
				<div id="background" class="slider-block">
					<div class="cycle-slider">
						<!-- <div class="cycle-next"></div>
						<div class="cycle-prev"></div> -->

		
						<div class="slide-wrap">
							<div class="slide">
								<img src="img/superbowl_win_02.jpg" width="1600" height="1064" alt="Superbowl Win 02">
							</div>
						</div>


						<!-- <div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/1.png" alt="">
							</div>
							<div class="caption-box">
								<div class="caption">
									<span class="slide-text"><a href="#blogs">I am Richard Sherman.</a></span>
								</div>
							</div>
						</div> -->

						<!--<div class="slide-wrap">
							<div class="slide">
								<img src="assets/images/slider/2.png" alt="">
							</div>
							<div class="caption-box">
								<div class="caption">
									<span class="slide-text"><a href="#news">Latest about me.</a></span>
								</div>
							</div>
						</div>-->
						<!--<div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/superbowl_tix2.jpg" alt="">
							</div>
						</div>							
						<div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/superbowl2.jpg" alt="">
							</div>
						</div>-->															
						<!-- <div class="slide-wrap">
							<div class="slide">
								<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/3.png" alt="">
							</div>
							<div class="caption-box">
								<div class="caption">
									<span class="slide-text"><a href="#store">My official gear.</a></span>
								</div>
							</div>
						</div> -->
					</div>
				</div>
				<span class="scroll-image hidden-tablet"><a href="#store"><img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/slider/sherman_scroll.png" alt=""></a></span>
			</div><!-- End Hero Slider -->
		</div><!-- End Fullscreen Container-->
