		<div id="store">
		<section class="section-block">
			<a href="http://store.richardsherman25.com/collections/all-products"><h1 class="section-title text-center">GEAR</h1></a>
			<br>
			<div clas="row">
				<div class="text-center visible-desktop visible-tablet">
					<a href="http://store.richardsherman25.com/"><img src="img/desktop_banner.jpg" alt="Banner"></a>
				</div>
				<div class="text-center visible-phone">
					<a href="http://store.richardsherman25.com/"><img src="img/mobile_banner.jpg" alt="Banner"></a>
				</div>
			</div>
			<br>

			<div class="store clearfix">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="items-wrap clearfix">
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-we-are-the-champions-super-bowl-xlviii-2014-t-shirt-mens-navy" class="item-link">
										<div class="overlay"></div>
										<img src="img/champ_men.jpg"  alt="championship men">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-we-are-the-champions-super-bowl-xlviii-2014-t-shirt-womens-perfect-fit-navy" class="item-link">
										<div class="overlay"></div>
										<img src="img/werthechamps_women.jpg"  alt="championship women">
									</a>
								</div>
								
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-what-would-richard-say-t-shirt-mens-navy" class="item-link">
										<img src="img/wwrs.jpg" alt="richardsay men">
										<div class="overlay"></div>
									</a>
								</div>

								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-what-would-richard-say-womens-perfect-fit-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="img/wwrs_women.jpg"  alt="Wwrs Women">
										<div class="overlay"></div>
									</a>
								</div>

								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/dont-you-ever-talk-about-me-mens-perfect-fit-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/donttalkmens.png" alt="Don't You Ever Talk About Me">
									</a>
								</div>

								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/dont-you-ever-talk-about-me-womens-perfect-fit-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/donttalkwomens.jpg" alt="Don't You Ever Talk About Me">
									</a>
								</div>



								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-shutdown-2-0-t-shirt-womens-perfect-fit-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/shutdown-f.png" alt="Shutdown 2.0 T-Shirt">
									</a>
								</div>
								
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/new-shutdown-2-0-t-shirt-mens-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/shutdown-m.png" alt="Shutdown 2.0 T-Shirt">
									</a>
								</div>


								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/i-bleed-blue-green-and-gray-navy-womens" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/bluegreenwomens.jpg" alt="I Bleed Blue, Green, And Grey(Navy)">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/i-bleed-blue-green-and-gray-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/bluegreenmens.jpg" alt="I Bleed Blue, Green, And Grey(Navy)">
									</a>
								</div>
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-long-sleeve-t-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_sweatshirt.jpg" alt="shutdown sweatshirt">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-snapback-cap-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Font Shutdown_small.jpg" alt="snapback cap">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/you-mad-bro-snapback-cap-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/You Mad Bro Font_small.jpg" alt="U MAD BRO Cap">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-custom-beanie" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_beanie.png" alt="snapback cap">
									</a>
								</div>->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/you-mad-bro-custom-beanie" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/madbro_beanie.png" alt="snapback cap">
									</a>
								</div>-->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/all-products/products/rs25-exclusive-wristbands-2-pack-bundle" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/wrist.jpg" alt="U MAD BRO Sweater">
									</a>
								</div>
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/women-s-v-neck-be-better-than-life-breast-cancer-awareness-t-shirt-pink" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/sherman_breast_cancer_awareness_210x2102.png" alt="U MAD BRO Sweater">
									</a>
								</div>-->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/all-products/products/you-mad-bro-hoodie-navy" class="item-link">
										<div class="overlay resize"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/U_Mad_Bro_u.jpg" alt="U MAD BRO Sweater">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/u-mad-bro-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/U_Mad_Bro_black.png" alt="U MAD BRO Black">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/u-mad-bro-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/U_Mad_Bro_navy.png" alt="U MAD BRO Navy">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/dread-head-helmet-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Dread_Head_black.png" alt="Dread Head Black">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/dread-head-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Dread_Head_navy.png" alt="Dread Head Navy">
									</a>
								</div>
							<!--	<div class="item shoes">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/dread-head-helmet-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Dread_Head_white.png" alt="Dread Head White">
									</a>
								</div> -->
								<!--<div class="item shoes">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/rs-logo-design-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Guys_RS_black.png" alt="Guys RS Black">
									</a>
								</div>
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/rs-logo-design-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Guys_RS_navy.png" alt="Guys RS Navy">
									</a>
								</div>-->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/rs-logo-design-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Guys_RS_white.png" alt="Guys RS White">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_mens.png" alt="Shutdown Mens">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/shutdown-t-shirt-women-s-perfect-fit-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/shutdown_womans.png" alt="Shutdown womens">
									</a>
								</div>-->
							<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_black.png" alt="Hawk Black">
									</a>
								</div> -->
								<!-- <div class="item graphic-design">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-grey" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_grey.png" alt="Hawk Grey">
									</a>
								</div> -->
							<!-- <div class="item illustration">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_navy.png" alt="Hawk Navy">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seahawk-25-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Hawk_white.png" alt="Hawk White">
									</a>
								</div>-->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seattle-skyline-25-t-shirt" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Skyline_black.png" alt="Skyline Black">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seattle-skyline-25-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Skyline_navy.png" alt="Skyline Navy">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/t-shirts/products/seattle-skyline-25-t-shirt-turquoise" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Skyline_turquoise.png" alt="Skyline Turquoise">
									</a>
								</div>-->
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/women-s/products/women-s-v-neck-rs-logo-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Girls_RS_black2.png" alt="Girls RS Black">
									</a>
								</div> -->
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/women-s/products/womens-v-neck-rs-logo-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Girls_RS_navy.png" alt="Girls RS Navy">
									</a>
								</div> -->
								<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/womens-v-neck-you-mad-bro-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Girls_UMADBRO_navy.jpg" alt="Girls YOUMADBRO Navy">
									</a>
								</div>
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/products/womens-v-neck-you-mad-bro-t-shirt-black" class="item-link">
										<div class="overlay"></div>
										<img src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/store/Girls_UMADBRO_black.png" alt="Girls YOUMADBRO Black">
									</a>
								</div> -->
							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/socks/products/balty-socks-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/Balty_Socks_white.png" alt="Balty Socks">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/socks/products/rs25-logo-socks-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/RS_Socks_navy.png" alt="Balty Socks">
									</a>
								</div> -->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/kids-dread-head-t-shirt-grey" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/new_grey_thumb.png" alt="Grey Shirt">
									</a>
								</div> -->
								<!-- <div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/kids-better-at-life-t-shirt-lime" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/new_green_thumb.png" alt="Green Shirt">
									</a>
								</div> -->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/toddlers-dread-head-helmet-t-shirt-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/toddler's_navy.png" alt="Dread Head Navy Kid's">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/toddlers-you-mad-bro-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/toddler's_youmad.png" alt="Toddler's You Mad">
									</a>
								</div>-->
								<!--<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/infants-you-mad-bro-t-shirt-white" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/baby_youmad.png" alt="Infant's You Mad">
									</a>
								</div>-->
						

							<!--	<div class="item apparel">
									<a href="http://store.richardsherman25.com/collections/kids/products/infant-s-better-at-life-onesie-navy" class="item-link">
										<div class="overlay"></div>
										<img src="assets/images/store/new_baby_thumb.png" alt="Baby Onesie">
									</a>
								</div> -->
				
							</div>
							<br />
						</div>
						<br />
					</div>
					<!-- End Items -->
				</div>
			</div>
			<!-- End Store -->
			
		</section>
	</div>