{% include head-index.html %}

	<body data-spy="scroll" data-target=".navbar">

		<!-- Top Page Fullwidth Container -->
		<div class="fullwidth">
		{% include navbar-outer.html %}






		<!-- Blog Section -->
		<!-- Pulls Blogs from richardsherman25.tumblr.com -->
		<aside id="blog" class="aside-block" data-background="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/images/blog/blog_bg2.jpg">
			<div class="aside-overlay"></div>
			<div class="aside-container">
				<div class="aside-content">
					<div class="container">
						<div class="row">
							<div class="span12 pagination-centered">
								<h1 class="section-title">{{ page.title }}</h1>
							</div>
						</div>
						{% include section-banner.html %}
						<!-- blogs -->
						<div class="span12 text-center" id="blog2">
							<img src="{{ page.img }}"/>
						</div>
						<br></br><br>
						<div class="container">
							{{ page.content | markdownify }}
						</div>					
					</div>							
				</div>
						<!-- / #blogs -->
			</div>
		</aside>

		


	{% include footer.html %}

	

	<!-- Javascript -->
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery-1.9.1.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/bootstrap.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.plugins.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.parallax.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/sherman.js"></script>
	

	<!-- Plugins -->
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/fitvids/jquery.fitvids.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/quovolver/jquery.quovolver.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.prettyPhoto.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/contactform/jquery.form.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/contactform/jquery.validate.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/cycle2/jquery.cycle2.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/plugins/cycle2/jquery.cycle2.swipe.min.js"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.easing.1.3.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://76ad72b3db5c6e89adba-b9461d1874e7740690ffb4defe625635.ssl.cf1.rackcdn.com/assets/js/jquery.thumbGallery.js" type="text/javascript" charset="utf-8"></script>

     
     
    
 

<script type="text/javascript" >
$(document).ready(function()
{
$(".account").click(function()
{
var X=$(this).attr('id');

if(X==1)
{
$(".submenu").hide();
$(this).attr('id', '0');	
}
else
{

$(".submenu").show();
$(this).attr('id', '1');
}
	
});

//Mouseup textarea false
$(".submenu").mouseup(function()
{
return false
});
$(".account").mouseup(function()
{
return false
});


//Textarea without editing.
$(document).mouseup(function()
{
$(".submenu").hide();
$(".account").attr('id', '');
});
	
});
	
	</script>

<script type="text/javascript">

	$('.scroolhide a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
    if ($('.btn').is(":visible"))
     $('.btn').click();
   });

 </script>	


 <script>
	 $("#button").click(function() {
    	$('html, body').animate({
    	    scrollTop: $(".blog1").offset().top
    	}, 2000);
	});
 </script>
</body>

</html>
